:root {
	--primary: rgba(64, 180, 234, 0.75);
	--food: rgba(247, 76, 8, 0.986);
	--atmosphere: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--food-glow: 0px 0px 4px rgba(247, 76, 8, 0.986);
	--atmosphere-glow: 0px 0px 4px rgba(64, 180, 234, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body {
	background: var(--light);
	color: var(--dark);
}

article {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5em;
}

h3 {
	color: inherit;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

.txt {
	color: rgb(39, 35, 36);
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 0.5rem;
}


.create-review {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.create-review input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

.create-review .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-review .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--food);
	box-shadow: var(--food-glow);
}

.bubble.atmosphere {
	border-color: var(--atmosphere);
	box-shadow: var(--atmosphere-glow);
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--food);
	box-shadow: var(--food-glow);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.bubble.atmosphere::after {
	background-color: var(--atmosphere);
	box-shadow: var(--atmosphere-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create-review .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}

.create-review input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	background-color: #c8102e;
	border-radius: 0.5rem;
	box-shadow: var(--atmosphere-glow);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.create-review input[type="submit"]:hover {
	opacity: 0.75;
}

.all-reviews {
	background-color: #121416;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	color: #FFF;
}
.review-list .list {
	margin: 1rem 0;
} 

.review-list .review-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.review-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.review-item .review-content {
	flex: 1 1 0%;
}

.review-item .review-content input {
	color: var(--dark);
	font-size: 1.125rem;
}

.review-item .actions {
	display: flex;
	align-items: center;
}

.review-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.review-item .actions button:hover {
	opacity: 0.75;
}

.review-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--primary);
}

.review-item .actions .delete {
	background-color: var(--danger);
}

.review-item.done .review-content input {
	text-decoration: line-through;
	color: var(--grey);
}